.projectsBlock {
    min-height: 90vh;
    background-color: #bb8dfa;
}

.container {
    border: 1px solid;
    min-height: inherit;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #eeeef5;
}

.projects {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}