.contactsBlock {
    height: 100vh;
    background-color: #ffc1b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    background-color: #eeeef5;
    margin: 0;
}

.form {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
    height: 25px;
    border: none;
    background-color: whitesmoke;
}

.textarea {
    border: none;
    background-color: whitesmoke;
}

.button {
    text-decoration: none;
    user-select: none;
    background: #121212;
    padding: 10px 25px;
    color: #ffa600;
}