.contactsBlock {
    height: 100vh;
    background-color: #ffc1b2;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    background-color: #eeeef5;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid;
}

.input {
    margin-bottom: 10px;
    height: 25px;
    border: none;
    background-color: whitesmoke;
}

.textarea {
    border: none;
    background-color: whitesmoke;

}

.button {
    display: inline-block;
    padding: 0 15px;
    margin: 0 15px 0 0;
    height: 38px;
    color: #000;
    background-color: darkgray;
    cursor: pointer;
    border-top: 0;
    border-bottom: 1px solid;
    border-right: 0;
    border-left: 0;
}