.project {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.imgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://sun9-west.userapi.com/sun9-37/s/v1/ig2/7Dd6pA-nYqR5vBr4Kbvo5V2ujjGAmZShPlhjXIbYrZdxwCDleZqeQcicvQxlO1iUOVi8eUh_E8U9A6hzNP5vx-oG.jpg?size=1028x1028&quality=96&type=album");
    background-size: cover;
    background-position: center;
}

.button {
    text-decoration: none;
    user-select: none;
    background: #121212;
    padding: 10px 25px;
    color: #ffa600;
}

.title {
    background-color: #ff18c3;
    margin: 5px 5px 0;
}

.description {
    background-color: #ff18c3;
    margin: 5px;
}