.projectsBlock {
    background-color: #1f1f20;
    padding: 100px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 1px solid;
}


.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1520px) {
    .projects {
        justify-content: center;
    }
}
